html
include ../partials/head
    title Register
body
include ../partials/header
if errors
    each error in errors
        div(class="alert alert-danger") #{error}
form(action='/register', method='POST')
    input(class="form-control", name='login', placeholder='login', type='text')
    input(class="form-control", name='email', placeholder='email', type='text')
    input(class="form-control", name='password', placeholder='password', type='password')
    input(class="form-control", name='confirm-password', placeholder='confirm-password', type='password')
    input(value='Submit', type='submit')